<%# filepath: /Users/mezbah/microstartup/infolily_organizer/gems/solidstats/ui/dashboard_layout_component.html.erb %>
<%= tag.div(**dashboard_attributes) do %>
  <%= tag.header(class: header_classes) do %>
    <div class="header-main">
      <h1><%= title_with_icon %></h1>
      <span class="audit-date"><%= formatted_subtitle %></span>
    </div>
    
    <%= render(Solidstats::Ui::NavigationComponent.new(
      current_section: current_section,
      sections: navigation_sections,
      actions: navigation_actions
    )) %>
  <% end %>

  <% if content.present? %>
    <%= content %>
  <% end %>
<% end %>
