<%# filepath: /Users/mezbah/microstartup/infolily_organizer/gems/solidstats/ui/navigation_component.html.erb %>
<%= tag.nav(**nav_attributes) do %>
  <ul>
    <% sections.each do |section| %>
      <li>
        <%= tag.a(**section_attributes(section)) do %>
          <%= section[:label] %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
  <% if actions.any? %>
    <div class="dashboard-actions">
      <% actions.each do |action| %>
        <% if action[:href] %>
          <%= tag.a(**action_attributes(action)) do %>
            <% if action[:icon] %>
              <span class="action-icon"><%= action[:icon] %></span>
            <% end %>
            <%= action[:label] %>
          <% end %>
        <% else %>
          <%= tag.button(**action_attributes(action)) do %>
            <% if action[:icon] %>
              <span class="action-icon"><%= action[:icon] %></span>
            <% end %>
            <%= action[:label] %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
