<%# Modern Summary Card Component Template %>
<<%= wrapper_tag %> <%= wrapper_attributes %>>
  <div <%= card_attributes %>>
    <% if card_icon %>
      <div class="card-icon"><%= card_icon %></div>
    <% end %>
    <div class="card-content">
      <div class="card-value"><%= formatted_value %></div>
      <div class="card-label"><%= title %></div>
    </div>
  </div>
</<%= wrapper_tag %>>
