<%# filepath: /Users/mezbah/microstartup/infolily_organizer/gems/solidstats/ui/tab_navigation_component.html.erb %>
<nav <%= tabs_attributes %>>
  <ul class="tab-list">
    <% tabs.each do |tab| %>
      <li class="tab-list-item">
        <% if tab[:disabled] %>
          <span <%= tab_attributes(tab) %>>
            <%= tab[:label] %>
            <%= tab_count_badge(tab) %>
            <%= tab_status_indicator(tab) %>
          </span>
        <% else %>
          <a <%= tab_attributes(tab) %>>
            <%= tab[:label] %>
            <%= tab_count_badge(tab) %>
            <%= tab_status_indicator(tab) %>
          </a>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
