<section id="security" class="dashboard-section">
  <h2 class="section-title">Security</h2>
  
  <%= render Solidstats::Security::OverviewComponent.new(
    vulnerabilities: results
  ) %>
  
  <%= render Solidstats::Ui::TabNavigationComponent.new(
    container_class: "security-tabs",
    tabs: tab_items
  ) %>
  
  <div class="tabs-content">
    <div class="tab-content active" id="security-overview">
      <%= render partial: 'solidstats/dashboard/audit/security_audit', locals: { results: results } %>
    </div>
    
    <div class="tab-content" id="security-gems">
      <%= render Solidstats::Security::GemImpactAnalysisComponent.new(results: results) %>
    </div>
    
    <div class="tab-content" id="security-timeline">
      <%= render Solidstats::Security::TimelineComponent.new %>
    </div>
  </div>
</section>
