<!DOCTYPE html>
<html>
<head>
  <title>Solidstats</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "solidstats/application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "solidstats/application", "data-turbo-track": "reload", defer: true %>
</head>
<body>

<%= yield %>

</body>
</html>
