<!DOCTYPE html>
<html>
<head>
  <title>Solidstats</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= solidstats_styles %>
  <%= solidstats_scripts %>
</head>
<body>

<%= yield %>

</body>
</html>
