<!DOCTYPE html>
<html>
<head>
  <title>Solidstats</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Solidstats CDN Dependencies -->
  <%= solidstats_cdn_dependencies %>

  <%= yield :head %>

  <!-- Inline Solidstats Styles -->
  <%= solidstats_styles %>
</head>
<body data-theme="light" class="min-h-screen bg-base-200">

<%= yield %>

<!-- Inline Solidstats Scripts -->
<%= solidstats_scripts %>

</body>
</html>
